#menuContainer{
    position: fixed;
    padding: 10px 2.5% 10px 2.5%;
    top: 20px;
    left: 10%;
    width: 75%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 2px solid #cccccc;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    z-index: 100;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

#menuContainerLogo{
    width: 60px;
    height: 60px;
}

/*TODO*/
a{
    cursor: pointer;
    text-decoration: none;
    color: #000000;
    transition: 0.3s;
}
/*TODO*/
a:hover{
    opacity: 0.7;
}


.menuContainerLogoImg{
    width: 100%;
    height: 100%;
}

#menuContainerLinks{
    width: 500px;
    display: flex;
    justify-content: space-around;
}

.menuContainerLink{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80px;
    height: 70px;
}

.menuContainerLinkImg{
    width: 34px;
    height: 34px;
}

.menuContainerLinkSpan{
    text-align: center;
}

#userLink{
    display: none;
}

#menuContainerUser a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#menuContainerUser a img{
    width: 58px;
    height: 58px;
}

#menuContainerLinkAdditional4{
     position: relative;
}

#additionalMenu4{
    position: absolute;
    top: 70px;
    left: 0;
    display: none;
}

.additionalMenu4Linker{
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menuContainerLinkAdditional4:hover #additionalMenu4{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#menuContainerLinkAdditional4:hover #menuContainer{
    height: 200px;
}

@media screen and (max-width: 900px){
    #menuContainer{
        justify-content: center;
    }

    #menuContainerLogo, #menuContainerUser{
        display: none;
    }

    #menuContainerLinks{
        width: 100%;
    }

    #userLink{
        display: flex;
        padding: 0;
    }
}

@media screen and (max-width: 650px){
    #menuContainer{
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 0;
        height: 60px;
        padding: 10px 0 10px 0;
    }
}

@media screen and (max-width: 490px){
    #menuContainer{
        height: 50px;
        padding: 10px 0 10px 0;
    }

    .menuContainerLink{
        width: 50px;
        height: 50px;
    }

    .menuContainerLinkImg{
        width: 28px;
        height: 28px;
    }

    .menuContainerLinkSpan{
        font-size: 12px;
    }

    #additionalMenu4{
        top: 50px;
    }
}

@media screen and (max-width: 390px){

    .menuContainerLink{
        align-items: center;
        justify-content: center;
    }

    .menuContainerLinkSpan{
        display: none;
    }

    .menuContainerLinkImg{
        width: 60%;
        height: 60%;
    }
}