* {

}

#menuContainer{
    position: fixed;
    padding: 10px 2.5% 10px 2.5%;
    top: 20px;
    left: 10%;
    width: 75%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cccccc;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

#menuContainerLogo{
    width: 60px;
    height: 60px;
}

a{
    cursor: pointer;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

#menuContainerLogo img{
    width: 100%;
    height: 100%;
}

#menuContainerLinks{
    width: 500px;
    display: flex;
    justify-content: space-around;
}

.menuContainerLink{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80px;
    height: 70px;
}

.menuContainerLink img{
    width: 34px;
    height: 34px;
}

.menuContainerLink span{
    text-align: center;
}

#userLink{
    display: none;
}

#menuContainerUser a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#menuContainerUser a img{
    width: 58px;
    height: 58px;
}

@media screen and (max-width: 900px){
    #menuContainer{
        justify-content: center;
    }

    #menuContainerLogo, #menuContainerUser{
        display: none;
    }

    #menuContainerLinks{
        width: 100%;
    }

    #userLink{
        display: flex;
        padding: 0;
    }
}

@media screen and (max-width: 650px){
    #menuContainer{
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 0;
        height: 60px;
        padding: 10px 0 10px 0;
    }
}

@media screen and (max-width: 490px){
    #menuContainer{
        height: 50px;
        padding: 10px 0 10px 0;
    }

    .menuContainerLink{
        width: 50px;
        height: 50px;
    }

    .menuContainerLink img{
        width: 28px;
        height: 28px;
    }

    .menuContainerLink span{
        font-size: 12px;
    }
}

@media screen and (max-width: 390px){

    .menuContainerLink{
        align-items: center;
        justify-content: center;
    }

    .menuContainerLink span{
        display: none;
    }

    .menuContainerLink img{
        width: 60%;
        height: 60%;
    }
}