.tasksContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    background-color: #dddddd;
    border-radius: 15px;
}

.tasksContainerCategory{
    font-size: 24px;
    margin: 10px;
    width: 110%;
}

.tasksContainerCategory:nth-child(n + 2){
    margin-top: 20px;
    border-top: 2px solid #000000;
}

.taskContainer{
    flex: 1 1 calc(25% - 20px);
    max-width: 300px;
    min-width: 240px;
    height: 270px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    overflow: hidden;
    background-color: #cccccc;
}

.taskContainerHeading{
    font-size: 18px;
    width: 110%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

.taskContainerImage{
    margin: 10px;
    width: 200px;
    height: 200px;
}

.taskInProgressContainer{
    height: 340px;
}

.tasksInProgress{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
}

.tasksContainerPoints{
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    font-size: 18px;
}

.taskContainerIcon{
    position: relative;
    top: -2px;
    width: 23px;
    height: 23px;
}

.bigText{
    margin-top: 20px;
    font-size: 20px;
}

.addContainer{
    position: relative;
    top: -15px;
    padding: 11px 5px 4px 5px;
    background-color: #cccccc;
    border-radius: 15px;
}