.tasksLister{
    width: 100%;
    background-color: #cccccc;
    border-radius: 15px;
    padding: 10px 0 10px 0;
}

.tasksListerHeading{
    font-size: 22px;
    margin: 10px 20px 10px 20px;
}

.tasksListerHeading:nth-child(n + 2){
    margin-top: 20px;
    border-top: 2px solid #000000 ;
}

.tasksListerContainerMain{
    margin: 10px 20px 10px 20px;
    overflow: hidden;
}

.tasksListerContainerFilled{
    padding: 10px 20px 10px 20px;
    border-radius: 15px 15px 0 0;
}

.tasksListerContainerHeading{
    font-size: 18px;
    margin: 0;
}

.tasksListerContainerEmpty{
    position: relative;
    top: -3px;
    border-radius: 0 0 15px 15px;
    padding: 10px 20px 10px 20px;
}

.tasksListerContainerSecond{
    font-size: 15px;
    color: #6c6c6c;
    margin: 0;
}

.tasksListerContainerTask{
    margin: 10px 0 10px 0;
}

.tasksListerContainerTaskName{
    font-weight: bold;
}

#000000{
    color: #ff7979;
}